

<div style="width: 100%; overflow: hidden;height:100%;">

    <!--Create-->
    
    <div style="background: #e4e4e4;padding:16px;color:#fff;border-radius: 2px;margin:8px">
        <div style="color: black">&nbsp;Create Ticket</div>
        <span style="padding:6px"><input #subject placeholder="Subject"/></span>
        <span style="padding:6px"><input #description placeholder="Description"/></span>
        <button (click)="add(subject.value,description.value); subject.value=''; description.value=''" style="margin:10px;">
          Add
        </button>
    </div>
    
    <!--List-->
    <div style="width: 300px; float: left;padding:16px;height:460px;background: #e4e4e4;border-radius: 2px;margin:8px;overflow: scroll"> 
        <div style="color: black">Ticket List</div>
        <div class="grid grid-pad">
          <a *ngFor="let ticket of tickets"  [routerLink]="['/detail', ticket.Id]"  class="col-1-4" >
            <div class="module ticket" style="background: #fff;border-radius: 2px;padding: 4px;margin-top: 8px">
              <span>{{ticket.Id}}</span>&nbsp;-&nbsp;<span>{{ticket.Subject}}</span>
            </div>
          </a>
        </div>
    </div>

    <!--Detail-->
    <div style="margin-left: 410px;"> 
        <router-outlet></router-outlet>
    </div>
</div>

