<div *ngIf="ticket"  style="padding:16px;border-radius: 2px;">
    
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
           
           <!--Detail-->
            <div style="width: 200px; display: table-cell;background: #e4e4e4;border-radius: 2px;margin-right: 24px;padding:8px;"> 
                <div style="padding-bottom:4px;color: black">Ticket Details</div>
                {{ticket.Id}} &nbsp;- &nbsp; {{ticket.Subject}} 
            </div>
            <div> </div>
           <!--Edit-->
            <div style="width: 200px;display: table-cell;background: #e4e4e4;padding:16px;border-radius: 2px;"> 
                <div style="padding-bottom:4px;color: black">Edit Ticket</div>
                <div>
                    <input [(ngModel)]="ticket.Subject" placeholder="Subject" style="padding:4px;border-radius: 2px" />
                </div>
                <button style="float:right;margin-top:8px;margin-right:8px" (click)="save()">Save</button>
            </div>
            <div> </div>
            <!--Create-->
            <div style="width: 200px;display: table-cell;background: #e4e4e4;padding:16px;border-radius: 2px">
                <div style="padding-bottom:4px;color: black">Add Note</div>
                <span><input #name placeholder="Name" style="padding:2px"/></span>
                <span><input #description placeholder="Description" style="padding:2px;margin-top:4px"/></span>
                <button (click)="addnote(ticket.Id,name.value,description.value); name.value=''; description.value=''"
                     style="float:right;margin:10px;">
                    Add
                </button>
            </div>
        </div>
    </div>    


    <div style="width: 100%; display: table;margin-top: 16px">
        <div style="display: table-row">
            <div> </div>
            <!--List-->
            <div style="display: table-cell;width: 100%;padding:16px;height:300px;border-radius: 2px;margin-top:16px;overflow: scroll;background: #e4e4e4;"> 
                <div style="color: black">Note List</div>
                <div class="grid grid-pad">
                <a *ngFor="let note of notes"  class="col-1-4" >
                    <div class="module ticket" style="background: #fff;border-radius: 2px;padding: 4px;margin-top: 8px">
                    <span>{{note.Id}}</span>&nbsp;-&nbsp;<span>{{note.Name}}</span>
                    </div>
                </a>
                </div>
            </div>

            <div> </div>
        </div>
    </div>    

     
</div>
