html {
  color: #369;
  font-family: sans-serif;
  font-size: 14px;
}


body {
  color: black;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
